# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.ENV/
uv.lock

# IDE
.vscode/
.idea/
*.swp
.antigravity/
.antigravityignore

# Testing
.pytest_cache/
.coverage
htmlcov/